.tela-principal {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 700;
  line-height: 32px;
  display: flex;
}

.background {
  height: 100%;
  background-color: #282f2d;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  display: flex;
}

.flex-container {
  text-align: center;
  width: 90%;
  flex-direction: row;
  flex-basis: 2%;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 5px;
  font-family: Poppins;
  font-size: .938rem;
  font-weight: 600;
  line-height: 23px;
  display: flex;
}

.time {
  align-self: flex-end;
  margin-right: 153px;
}

.cellular-connection {
  width: 17px;
  height: 11px;
  object-fit: cover;
  margin-top: 1px;
  margin-left: 51px;
}

.wifi {
  width: 15px;
  height: 11px;
  object-fit: cover;
}

.battery {
  width: 24px;
  height: 11px;
  object-fit: cover;
}

.flex-container-1 {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  font-family: Barlow;
  font-weight: 600;
  line-height: 16px;
  display: flex;
}

.flex-container-2 {
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1px;
  display: flex;
}

.ellipse-57 {
  width: 10px;
  height: 10px;
  object-fit: cover;
  z-index: 1;
  margin-bottom: -8px;
}

.bell {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.notificaes {
  margin-top: 3px;
}

.info {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-left: 17px;
}

.ajuda {
  margin-top: 2px;
}

.seta {
  width: 32px;
  height: 33px;
  object-fit: cover;
  margin-left: 22px;
}

.flex-container-3 {
  color: #d5d5d5;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  line-height: 19px;
  display: flex;
}

.group {
  width: 54px;
  height: 8px;
  object-fit: cover;
}

.rectangle-327 {
  color: #d8d8d8;
  width: 90%;
  background-color: #393b4e;
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 11px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 3px;
  font-size: 1.688rem;
  display: flex;
}

.flex-container-4 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 2px;
  display: flex;
}

.icon-user {
  width: 77px;
  height: 85px;
  object-fit: cover;
}

.flex-container-5 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.vector-4, .vector-3, .vector-2, .vector-1, .vector-5 {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.flex-container-6 {
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 11px;
  display: flex;
}

.vector {
  width: 25px;
  height: 23px;
  object-fit: cover;
  margin-bottom: 2px;
}

.calendar-clock-icon {
  width: 25px;
  height: 23px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-top: 1px;
  margin-left: 1px;
}

.flex-container-7 {
  width: 100%;
  flex-direction: row;
  flex-basis: 18%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.icon-user-1 {
  width: 14px;
  height: 13px;
  object-fit: cover;
  margin-right: 1px;
}

.icon-user-3 {
  width: 14px;
  height: 13px;
  object-fit: cover;
  z-index: 1;
  align-self: flex-start;
}

.icon-user-2 {
  width: 14px;
  height: 13px;
  object-fit: cover;
}

.flex-container-8 {
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 7px;
  display: flex;
}

.centro {
  margin-bottom: 3px;
  font-size: 1.75rem;
  line-height: 34px;
}

.num-1930 {
  margin-top: 1px;
  margin-left: 2px;
}

.num-34 {
  margin-left: 1px;
}

.seta-1 {
  width: 38px;
  height: 32px;
  object-fit: cover;
  align-self: flex-end;
}

.rectangle-327-1 {
  color: #d8d8d8;
  width: 90%;
  background-color: #393b4e;
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 21%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-right: 3px;
  font-size: 1.688rem;
  display: flex;
}

.flex-container-9 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
}

.icon-user-4 {
  width: 77px;
  height: 85px;
  object-fit: cover;
}

.flex-container-10 {
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 1px;
  display: flex;
}

.vector-9, .vector-8, .vector-7 {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.flex-container-11 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 5px;
  margin-left: 26px;
  display: flex;
}

.vector-6 {
  width: 25px;
  height: 23px;
  object-fit: cover;
}

.calendar-clock-icon-1 {
  width: 25px;
  height: 23px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 1px;
}

.flex-container-12 {
  width: 100%;
  flex-direction: row;
  flex-basis: 18%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.icon-user-5 {
  width: 14px;
  height: 13px;
  object-fit: cover;
  margin-right: 1px;
}

.icon-user-7 {
  width: 14px;
  height: 13px;
  object-fit: cover;
  z-index: 1;
  align-self: flex-start;
}

.icon-user-6 {
  width: 14px;
  height: 13px;
  object-fit: cover;
}

.flex-container-13 {
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.jd-aeroporto {
  margin-bottom: 1px;
  font-size: 1.5rem;
  line-height: 29px;
}

.num-2245 {
  margin-top: 1px;
  margin-left: 13px;
}

.flex-container-14 {
  width: 80%;
  flex-direction: row;
  flex-basis: 27%;
  justify-content: space-between;
  align-self: center;
  align-items: stretch;
  margin-left: 3px;
  display: flex;
}

.seta-1 {
  width: 38px;
  height: 32px;
  object-fit: cover;
  align-self: flex-end;
}

.flex-container-15 {
  width: 90%;
  flex-direction: row;
  flex-basis: 5%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-bottom: 6px;
  display: flex;
}

.boto-aceitar {
  color: #fff;
  height: 100%;
  background-color: #393b4e;
  border: none;
  border-radius: 50px;
  flex-direction: row;
  flex-basis: 41%;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  font-family: Barlow;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.mapa {
  margin-top: 2px;
}

.boto-aceitar-1 {
  color: #fff;
  height: 100%;
  background-color: #393b4e;
  border: none;
  border-radius: 50px;
  flex-direction: row;
  flex-basis: 41%;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-left: 1px;
  font-family: Barlow;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.recentes {
  margin-top: 1px;
}

.flex-container-16 {
  width: 90%;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 9px;
  margin-left: 11px;
  font-family: Barlow;
  font-size: 1.25rem;
  line-height: 24px;
  display: flex;
}

.flex-container-17 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 8px;
  margin-right: 10px;
  display: flex;
}

.flex-container-18 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 5px;
  display: flex;
}

.destino {
  width: 100%;
  border: none;
  flex-direction: row;
  flex-basis: 40%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.destino-1 {
  width: 205px;
  height: 29px;
  object-fit: cover;
}

.frame-31 {
  width: 38px;
  height: 35px;
  object-fit: cover;
  border-radius: 36px;
  margin-bottom: 4px;
}

.home-indicator {
  width: 129px;
  height: 31px;
  object-fit: cover;
  margin-top: 1px;
}
